html,body,h1,h2,h3,h4,h5,p,div,a,ul,li,section{
	margin:0;
	padding:0;
	list-style:none;
}


/* Basic layout */
/* Ignore this */
section{
	margin:20px 0;
	padding:20px 0;
	clear:both;
	border-bottom:1px solid rgb(200,200,200);
}
header{
	margin:20px 0;
}

body{
		background: rgb(255,251,238);

}


.container .canvas{
	margin-left:5%;
	margin-right:5%;
	height: 8000px;

}

.smallPlot{
    width:33%;
    height:200px;
    position: relative;
    float:left;

}

.leftSide{
	width:35%;
	position:relative;
	float:left;
	padding-top:20px;
}

.rightSide{
	width:40%;
		position:relative;
	float:left;
	  padding-top:50px;

}

.farRightSide{
	width:10%;
		position:relative;
	float:right;
	  padding-top:50px;

}

.hide{
	display:none;
}


.multAxis{
  font-family: 'Helvetica Neue';
  font-size:.8em;
  font-weight:200;
  fill:rgb(75,75,75);

}



.container.canvas.circles{
	color:red;
}

.axis .tick line{
    stroke:rgb(100,100,100);
    stroke-width:1px;
  }


.domain{
    fill:none;
}

.labels{
	font-family:'helvetica', sans-serif;
	font-size:10px;
}

a{
	color:black;
	text-decoration:none;
}

.labels2{
	font-family:'publico',sans-serif;
	font-size:16px;
    font-weight:bold;
    fill:#80ced6;
}

.PublicService{
	fill:#272d64;
}
.Infrastructure{
	fill:#d3262f;
}

.CommunityDev{
	fill:#b18828;
}


.moneyLabels{
	fill: rgba(45,45,45,.7)!important;
}

.btn{
	border: solid rgb(48,55,67) 1px;
	width: auto;
	color:rgb(48,55,67) ;
	padding:5px 5px 5px 5px;
	font-family:sans-serif;
	margin:3px 3px 3px 3px;
	position:relative;
	float:left;
	margin-top:1%;
	text-decoration:none;
}

.btn:hover{
	background-color:rgb(208,215,227);
	text-decoration:none;
}

.btn:active{
	background-color:rgb(48,55,67);
	color:rgb(254,254,254);
	text-decoration:none;
}

.btn:focus{
	background-color:rgb(48,55,67);
	color:rgb(254,254,254);
	text-decoration:none;
	outline:none;
}


}







/* ---------fonts------------ */

body{
	font-family:'publico', sans-serif;
	font-weight: 50;
	font-size:14px;
	background:rgb(253,253,253);
}
h1,h2,h3,h4{
	margin:0 0 10px;
}

h2{
	font-weight:bold;
}

h1{
	font-family:'publico', sans-serif;
	font-size:32px;
	font-weight:normal;
}



@font-face{
	font-family:Publico;
	font-weight:normal;
	src:url("./assets/fonts/publico/PublicoText-Roman-Web.woff");
}
@font-face{
	font-family:Publico;
	font-weight:bold;
	src:url("./assets/fonts/publico/PublicoText-Bold-Web.woff");
}
